body{
    background-color: white;
    font-family: cursive ;
    color: black;
    line-height: 1.3rem ;
    font-size: 1 rem;
    margin: 0;
}
p{
       margin-bottom: 1.5rem ;

}

/*Inicio de la cabecera*/

.header{
    background: #0D3B66;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
     
}
    .header a{
        color: white;
        text-decoration: none;
    }
    .logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
         
    }
    .logo{
        letter-spacing: 10px;
        font-size: 1.5rem;
    }
    .navigation ul{
        margin:0;
        padding:0;
        list-style: none;
    }
        .navigation ul li{
            display: inline-block;
        }
            .navigation ul li a{
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.4s linear;
                border-radius: 10px;
            }
                .navigation ul li a:hover{
                    background: gray;
                }

/*Fin de la cabecera*/

/*Inicio del body*/
 .main{
     padding-top: 10rem ;
 }
.maincontainer2{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border: 0;
}

.titulo{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.hrtitulo{
    border-color:midnightblue;
    height: 1px;
    background-color: midnightblue;
}

.subtitulo1{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3rem;
}
 
.hrsubtitulo1{
    border-color:midnightblue;
    height: 1px;
    background-color: midnightblue;
    margin-left: 12rem;
    margin-right: 12rem;
}

.subtitulo2{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3rem;
}
 
.hrsubtitulo2{
    border-color:midnightblue;
    height: 1px;
    background-color: midnightblue;
    margin-left: 12rem;
    margin-right: 12rem;
}

.elementosvideo{
    font-weight: bold;
}

.article img{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
}
/*Fin del body */

.footer{
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    margin-top: 1rem;
}