html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    width: 100%;
    position: fixed;
    
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    background-color:  #482058;
}
ul{
    list-style: none;
    top: 0;
    margin: 0;
    float: right;
}
li{
    list-style: none;
    float: left;
    margin-right: 1rem;
    
}
.iconos{
    margin: 0 1rem;
    text-decoration: none;
    color: #f3f0e5;
    font-weight: bold;
    font-size: 1rem;
    vertical-align: bottom;
    font-family: 'Source Sans Pro', 'sans-serif';
}
.iconos:hover{
    color: #c695db;
    text-decoration: none;
    font-family: 'Source Sans Pro', 'sans-serif';
}
form select{
    background-color: #482058;
    border: none;
    padding: .5rem;
    color: #f3f0e5;
}
li{
    color: #f3e3d3 ;
}
span{
    vertical-align: bottom;
}
.contenedor{
    margin-top: 4%;
    padding: 0 2% 0;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color:  #c695db;
    color: #f3e3d3 ;
}
table{
    font-size: 1.5rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
button{
    border: none;
    border-radius: 5px ;
    padding-top: 1rem;
    font-size: 1.2rem;
    font-family: 'Calibri Light';
    padding: .5rem;
    background-color: #482058;
    color: #f3e3d3 ;
}
button:hover{
    color: #482058 ;
    background-color: #f3e3d3;
    border: 2px solid #482058  ;
}
.tienda{
    margin: 0 ;
    color: #f3f0e5;
    font-size:1.8rem;
    vertical-align: top;
}
.tienda:hover{
    color: #c695db;
}
  footer{
    width: 100%;
    padding: 1rem;
    clear: both;
    left: 0;
    bottom: 0;
    background-color: #9b57c1;
    color:#f3f0e5 ;
    font-size: 1.2rem;
    position: fixed;
}