<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Serlvlet.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesionAdmin</servlet-name>
        <servlet-class>Serlvlet.IniciarSesionAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Serlvlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReEstudiante</servlet-name>
        <servlet-class>Serlvlet.ReEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verEstudiante</servlet-name>
        <servlet-class>Serlvlet.verEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Requipo</servlet-name>
        <servlet-class>Serlvlet.Requipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verMaquinas</servlet-name>
        <servlet-class>Serlvlet.verMaquinas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarContra</servlet-name>
        <servlet-class>Serlvlet.CambiarContra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaquinasLabo</servlet-name>
        <servlet-class>Serlvlet.MaquinasLabo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AMaquina</servlet-name>
        <servlet-class>Serlvlet.AMaquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hreporte</servlet-name>
        <servlet-class>Serlvlet.Hreporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CEstado</servlet-name>
        <servlet-class>Serlvlet.CEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rereporte</servlet-name>
        <servlet-class>Serlvlet.Rereporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesionAdmin</servlet-name>
        <url-pattern>/IniciarSesionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReEstudiante</servlet-name>
        <url-pattern>/ReEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verEstudiante</servlet-name>
        <url-pattern>/verEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Requipo</servlet-name>
        <url-pattern>/Requipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verMaquinas</servlet-name>
        <url-pattern>/verMaquinas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarContra</servlet-name>
        <url-pattern>/CambiarContra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaquinasLabo</servlet-name>
        <url-pattern>/MaquinasLabo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AMaquina</servlet-name>
        <url-pattern>/AMaquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hreporte</servlet-name>
        <url-pattern>/Hreporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CEstado</servlet-name>
        <url-pattern>/CEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rereporte</servlet-name>
        <url-pattern>/Rereporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
