body{
    background-color: white;
    font-family: Noto Sans JP ;
    color: black;
    line-height: 1.3rem ;
    font-size: 1 rem;
    margin: 0;
}
p{
       margin-bottom: 1.5rem ;

}

/*Inicio de la cabecera*/

.header{
    background: #0D3B66;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
     
}
    .header a{
        color: white;
        text-decoration: none;
    }
    .logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
         
    }
    .logo{
        letter-spacing: 10px;
        font-size: 1.5rem;
    }
    .navigation ul{
        margin:0;
        padding:0;
        list-style: none;
    }
        .navigation ul li{
            display: inline-block;
        }
            .navigation ul li a{
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.4s linear;
                border-radius: 10px;
            }
                .navigation ul li a:hover{
                    background: gray;
                }

/*Fin de la cabecera*/

/*Inicio del body*/
 .main{
     padding-top: 10rem ;
 }
.maincontainer2{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border:3px;
    border-radius: 10px;
    justify-content: space-between;

}
.carateristica{
    margin: 2rem 4rem;
    font-size: 1.2rem;
}

    .carateristica h2{
        text-align: center;
    }
    .carateristica img{ 
        padding: 0 0;
        width: 97%;
        height: 100%;
        border: 0;
    }   

    
    .carateristica ul{
        margin: 0.5rem 1rem;
        padding: 0;
        list-style: none;
    }
        .carateristica ul li{
            display: inline-block;
            display: inline;

        }
    .integrantes{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }    
    
/*Fin del body */

.footer{
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    margin-top: 1rem;
}


