<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>iniciarsesion</servlet-name>
        <servlet-class>Servlets.iniciarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarusuario</servlet-name>
        <servlet-class>Servlets.Registrarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEjercicio</servlet-name>
        <servlet-class>Servlets.RegistrarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEjercicio</servlet-name>
        <servlet-class>Servlets.ModificarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarEjercicio</servlet-name>
        <servlet-class>Servlets.DesactivarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarUsoEjercicio</servlet-name>
        <servlet-class>Servlets.CambiarUsoEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarUsoDieta</servlet-name>
        <servlet-class>Servlets.CambiarUsoDieta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarUsoUsuario</servlet-name>
        <servlet-class>Servlets.CambiarUsoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarDieta</servlet-name>
        <servlet-class>Servlets.RegistrarDieta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDieta</servlet-name>
        <servlet-class>Servlets.ModificarDieta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarComida</servlet-name>
        <servlet-class>Servlets.RegistrarComida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarComida</servlet-name>
        <servlet-class>Servlets.ModificarComida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarComidaenDieta</servlet-name>
        <servlet-class>Servlets.RegistrarComidaenDieta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarComidaDieta</servlet-name>
        <servlet-class>Servlets.EliminarComidaDieta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarComidaDieta</servlet-name>
        <servlet-class>Servlets.ModificarComidaDieta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarDieta</servlet-name>
        <servlet-class>Servlets.AgregarDieta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarDietaUsuario</servlet-name>
        <servlet-class>Servlets.AgregarDietaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDietadeUsuario</servlet-name>
        <servlet-class>Servlets.EliminarDietadeUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEjercicioRutina</servlet-name>
        <servlet-class>Servlets.AgregarEjercicioRutina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEjercicioUsuario</servlet-name>
        <servlet-class>Servlets.ModificarEjercicioUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEjercicioUsuario</servlet-name>
        <servlet-class>Servlets.EliminarEjercicioUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarRutina</servlet-name>
        <servlet-class>Servlets.ConfirmarRutina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>Servlets.ModificarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iniciarsesion</servlet-name>
        <url-pattern>/iniciarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarusuario</servlet-name>
        <url-pattern>/Registrarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEjercicio</servlet-name>
        <url-pattern>/RegistrarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEjercicio</servlet-name>
        <url-pattern>/ModificarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarEjercicio</servlet-name>
        <url-pattern>/DesactivarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarUsoEjercicio</servlet-name>
        <url-pattern>/CambiarUsoEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarUsoDieta</servlet-name>
        <url-pattern>/CambiarUsoDieta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarUsoUsuario</servlet-name>
        <url-pattern>/CambiarUsoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarDieta</servlet-name>
        <url-pattern>/RegistrarDieta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDieta</servlet-name>
        <url-pattern>/ModificarDieta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarComida</servlet-name>
        <url-pattern>/RegistrarComida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarComida</servlet-name>
        <url-pattern>/ModificarComida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarComidaenDieta</servlet-name>
        <url-pattern>/RegistrarComidaenDieta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarComidaDieta</servlet-name>
        <url-pattern>/EliminarComidaDieta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarComidaDieta</servlet-name>
        <url-pattern>/ModificarComidaDieta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarDieta</servlet-name>
        <url-pattern>/AgregarDieta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarDietaUsuario</servlet-name>
        <url-pattern>/AgregarDietaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDietadeUsuario</servlet-name>
        <url-pattern>/EliminarDietadeUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEjercicioRutina</servlet-name>
        <url-pattern>/AgregarEjercicioRutina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEjercicioUsuario</servlet-name>
        <url-pattern>/ModificarEjercicioUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEjercicioUsuario</servlet-name>
        <url-pattern>/EliminarEjercicioUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarRutina</servlet-name>
        <url-pattern>/ConfirmarRutina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
