@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: 	#952F57;

}
center{
    margin-top: 3%;
    color: White;
    font-size: 30px;
}

.boton{
    background-color: #952f57;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #952f57;
    cursor: pointer;
    margin: 10px;
    color: #ffffff;
}

.boton3{
    background-color: #c9bbd4;
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #c9bbd4;
    cursor: pointer;
    margin-left: 29%;

    color: #000000;
}

.boton33{
    background-color: #952f57;
    width: 20%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #952f57;
    cursor: pointer;
    margin-left: 2%;
    color: #ffffff;
}

.boton1{
    background-color: #952f57;
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #952f57;
    cursor: pointer;
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
}

.equipo{
    background: #c9bbd4;
    width: 30%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
}

img{
    width: 40%;
    height: auto;
}

.fill{
    width: 50%;
    margin-left: 28%;
    color: white;
    font-size: 15px;
    text-align: center;
}

.fil{
    margin-left: 15%;
    width: 25%;
    border-bottom: 2px solid #0066FF;
    display: inline-block;
    cursor: pointer;
    margin-right:5%;
}

.fil:hover{
    border-bottom: 2px solid #ffffff;
}

.fil2{
    margin-left: 5%;
    margin-right: 15%;
    width: 25%;
    border-bottom: none;
    display: inline-block;
    cursor: pointer
}

.fil2:hover{
    border-bottom: 2px solid #ffffff;
}

.cuenta , .compus{
    display: inline;
    width: 100%;
}

.cuenta{
    display:none;
}

.cuen{
    background: #c9bbd4;
    width: 60%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    text-align: center;
    margin-left: 19%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    font-size: 30px;
}

.imgusu{
    width: 30%;
    height: auto;
}

.texto {
    background: white;
    width: 30%;
    border: 1px solid #6666669f;
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    transition: border .15s linear;
    font-size: 20px;
}

.texto:focus {
    border: 3px solid rgb(170, 170, 170);
}
.area {
    background-color: #E3E3E3;
    width: 90%;
    min-width: 250px;
    max-width: 600px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.602);
    resize: none;
    height: 100px;
    margin: 10px auto;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    background-color: #bebabac9;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}


/*
    Estilos del modal, o del form
*/

.card {
    background: #c9bbd4;
    border-radius: 5px;
    box-shadow: 1px 2px 8px #0000008a;
    padding: 1%;
    width: 95%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    cursor: default;
}

.article {
    background: #c9bbd4;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.linea{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
}

.submit {
    background-color: #952f57;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #952f57;
    cursor: pointer;
    margin: 10px;
    color: #ffffff;
}

select {
    padding: 10px;
}

select:hover {
    cursor: pointer;
}

.imgusua{
    display: inline-block;
    width: 20%;
    margin-right: 5%;
}

.textoa{
    width: 70%;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    text-align: justify;
    max-width: 70%;
    padding: 10px
}

.aa {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 2%;
    margin-left: 2%;
    font-size: 2rem;
    border-bottom: 5px solid #ffffff00;
    transition: all .15s linear;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 40%;
}

.mainuwu{
    width: 80%;
    margin: 5%;
    padding: 5%;
    background: #c9bbd4;
    border-radius: 20px;
}

.imagen{
    width: 10%;
}

.materia{
    border: 1px solid black;
    border-radius: 20px;
}

.materia-c{
    width: 12%;
    margin: 2%;
    font-size: 12px;
    display: inline-block;
}