body{
    background-color: #f3f0e5;
}
header{
    background: #f84a65;
    padding: 0;
    width: 100%;
    left: 0;
    top: 0;
}
ul{
    list-style: none;
    
}
li{
    float: left;
}
header{
    position: fixed;
    padding: 1rem;
    align-items: center;
    margin: 0;
}
.buton{
    padding: 0 .5rem;
    border-radius: 15px;
    color: #f3f0e5;
    border: 1px solid #f3f0e5;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-right: 2rem;
}
.buton:hover{
    color: #f3f0e5;
    border-color: #f84a65;
    text-decoration: none;
}
.iconos{
    margin: 0 1rem;
    text-decoration: none;
    color: #f3f0e5;
    font-weight: bold;
    font-size: 1.5rem;
    vertical-align: bottom;
    font-family: 'Source Sans Pro', 'sans-serif';
}
.iconos:hover{
    color: rgb(81,87,94);
    text-decoration: none;
    font-family: 'Source Sans Pro', 'sans-serif';
}
.boton{
    background: #f84a65;
    border: #f84a65;
    color: #f3f0e5;
    font-family: 'Source Sans Pro', 'sans-serif';
    border: none;
    width: 40%;
    margin: auto;
   
}
.boton:hover{
    color: #f3f0e5;
    border-color: #fc9aa8;
    text-decoration: none;
    box-shadow: 3px 3px 10px 3px #fc9aa8; 
    background-color: #f84a65;
}
.contenedor{
    margin-top: 6rem;
    background-color: #f3f0e5;
}
h2, h3{
    text-align: center;
    color: #f84a65;
}
a{
    text-decoration: none;
}
.producto, .promocion, .usuario{
    width: 30%;
    display: inline-block;
}
.formularios{
    /*display: block;
    margin: 0 auto;*/
    width: 100%;
    margin: 0 auto;
    display: block;
}
.formularios input{
    width: 90%;
    margin:.2rem;
}
.formularios button{
    margin: .6rem;
    color: #f3f0e5;
    font-size: 1rem;
}

footer{
    background-color: #f84a65;
    width: 100%;
    margin-top: 2rem;
    position: fixed;
    left: 0;
    bottom: 0;
}
footer p{
    color: #f3f0e5;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 1rem;
    text-align: center;
}