<!--Módulo de inicio de sesión-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iniciar sesión</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form method="get" action='/login'>
        <label>nombre de usuario:<input type="text" name="user" value=""></label><br>
        <label>contraseña:<input type="password" name="password" value=""></label><br>
        <input type="submit" value="iniciar sesión">
    </form>
</body>

</html>