<!--Módulo de registro-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registrarse</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form method="get" action='/registrarusuario'>
        <label>Nombre de usuario:<input type="text" name="user" value=""></label>
        <label>Contraseña:<input type="password" name="password" value=""></label>
        <input type="submit" value="registrado">
    </form>
</body>

</html>